body {
  background-color: rgb(244, 244, 245);
  margin: 0 200px;
}

#breadnew a {
  text-decoration: none;
  color: black;
}

#breadnew a:hover {
  color: darkgray;
  cursor: pointer;
}

.form-control:focus {
  outline: none;
  box-shadow: none;
}
a {
  text-decoration: none;
}
.a_link {
  text-decoration: none;
  color: black;
}
.a_link:hover {
  color: darkgray;
  cursor: pointer;
}
.accordion-button:not(.collapsed) {
  background-color: transparent !important;
  color: inherit;
}

button.accordion-button:focus {
  box-shadow: inherit;
}

.breadcrumb-item + .breadcrumb-item::before {
  float: left;
  padding-right: var(--bs-breadcrumb-item-padding-x);
  color: var(--bs-breadcrumb-divider-color);
  content: var(--bs-breadcrumb-divider, "•");
}
.carousel-indicators [data-bs-target] {
  height: 7px;
  width: 35px;
  background-color: black;
}
.carousel-indicators .active {
  height: 7px;
  width: 10px;
  background-color: black;
}

.catalogue__item {
  background: gray;
  width: 250px;
  height: 160px;
  margin: 10px;
  overflow: hidden;
  border-radius: 40px;

  /* background: rgb(190, 255, 253);
  background: linear-gradient(
    186deg,
    rgba(190, 255, 253, 1) 0%,
    rgba(59, 216, 227, 1) 54%,
    rgba(28, 193, 204, 1) 100%
  ); */
  background: rgb(188, 210, 210);
  background: linear-gradient(
    195deg,
    rgba(188, 210, 210, 1) 0%,
    rgba(143, 170, 172, 1) 54%,
    rgba(87, 107, 108, 1) 100%
  );
  /* background: linear-gradient(
    180deg,
    rgba(9, 136, 123, 1) 36%,
    rgba(24, 82, 109, 1) 100%
  ); */
}
.catalogue__item:hover {
  /* background-color: wheat; */
  cursor: pointer;
}
.catalogue__category {
  color: white;
  margin-left: 20px;
  font-weight: 600;
}

.catalogue__image {
  /* margin-left: 100px; */

  margin-top: -15px;

  width: 100px;

  max-width: 120px;
  float: right;
}
.image_holder {
  width: 160px;
  height: 100px;
  margin-left: 100px;
  margin-top: -20px;
}
.catalogue__item:hover .catalogue__image {
  animation: grow;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

@keyframes grow {
  from {
    width: 100px;
  }

  to {
    width: 120px;
  }
}

.profile__button {
  background: rgb(255, 255, 255);
  box-shadow: 0 4px 16px 2px rgba(0, 26, 52, 0.16);
  width: 200px;
  height: 80px;
  margin: 10px;
  overflow: hidden;
  border-radius: 20px;
  padding: 30px 20px;
  color: black;
}

.profile__button:hover {
  cursor: pointer;
}

.profile__sidebar {
  padding: 10px;
  max-width: 100%;
  border-radius: 5px;
}
.profile__sidebar:hover {
  cursor: pointer;
  background-color: lightgray;
}
#sidebar__active {
  background-color: lightblue;
  color: rgba(0, 0, 255, 0.886);
}

#profile__contrlos {
  margin-bottom: 0;
  font-weight: bold;
  font-size: small;
}

#profile__down {
  margin-top: 0;
  color: grey;
  font-weight:lighter;
  font-size: smaller;
}
