body {
  background-color: rgb(244, 244, 245);
  margin: 0 200px;
}

#product__menu a {
  text-decoration: none;
  color: black;
}

#product__menu a:hover {
  color: darkgray;
  cursor: pointer;
}

.form-control:focus {
  outline: none;
  box-shadow: none;
}

.a_link {
  text-decoration: none;
  color: black;
}
.a_link:hover {
  color: darkgray;
  cursor: pointer;
}
.accordion-button:not(.collapsed) {
  background-color: transparent !important;
  color: inherit;
}

button.accordion-button:focus {
  box-shadow: inherit;
}

.breadcrumb-item + .breadcrumb-item::before {
  float: left;
  padding-right: var(--bs-breadcrumb-item-padding-x);
  color: var(--bs-breadcrumb-divider-color);
  content: var(--bs-breadcrumb-divider, "•");
}
